<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Caso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="../../../assets/imgs/user.jpg" alt="">
    <ion-card-header>
      <ion-card-title>Aridna Medina</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Edad: 18</p>
      <p>Tipo de caso: Rapido hasta 7 movimientos</p>
      <p>Estatus: verificacion</p>
      <hr>
      <p>Nombre del doctor: Doctor Prueba</p>
      <p>Dirección de correo: info@dlab.dental</p>
      <hr>
      <h3>Indicaciones a seguir en el diseño del tratamiento
      </h3>
      <p>Prueba de transporte y proveedores
      </p>
    </ion-card-content>
  </ion-card>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-label color="primary">Informe / Video
        </ion-label>
      </ion-col>
      <ion-col size="12">
        <ion-label>Imagenes</ion-label>
      </ion-col>

      <ion-col size="6">
        <ion-label>
          <p>Fotografía de frente (extraoral)
          </p>
        </ion-label>
        <img [src]="caso.imagen" alt="">
      </ion-col>

      <ion-col size="6">
        <ion-label>
          <p>Fotografía de frente en sonrisa (extraoral)
          </p>
        </ion-label>
        <img [src]="caso.imagen" alt="">
      </ion-col>

      <ion-col size="6">
        <ion-label>
          <p>Fotografía perfil izquierdo (extraoral)
          </p>
        </ion-label>
        <img [src]="caso.imagen" alt="">
      </ion-col>

      <ion-col size="6">
        <ion-label>
          <p>Fotografía perfil derecho (extraoral)
          </p>
        </ion-label>
        <img [src]="caso.imagen" alt="">
      </ion-col>

      <ion-col size="6">
        <ion-label>
          <p>Fotografía oclusal inferior (intraoral)
          </p>
        </ion-label>
        <img [src]="caso.imagen" alt="">
      </ion-col>

      <ion-col size="6">
        <ion-label>
          <p>Fotografía oclusal superior (intraoral)
          </p>
        </ion-label>
        <img [src]="caso.imagen" alt="">
      </ion-col>

      <ion-col size="6">
        <ion-label>
          <p>Fotografía intermaxilar oclusal derecho (intraoral)
          </p>
        </ion-label>
        <img [src]="caso.imagen" alt="">
      </ion-col>

      <ion-col size="6">
        <ion-label>
          <p>Fotografía intermaxilar oclusal izquierdo (intraoral)
          </p>
        </ion-label>
        <img [src]="caso.imagen" alt="">
      </ion-col>

      <ion-col size="6">
        <ion-label>
          <p>Radiografía panorámica
          </p>
        </ion-label>
        <img [src]="caso.imagen" alt="">
      </ion-col>

      <ion-col size="6">
        <ion-label>
          <p>Telerradiografía
          </p>
        </ion-label>
        <img [src]="caso.imagen" alt="">
      </ion-col>

      <ion-col size="12">
        <ion-label color="primary">Factura
        </ion-label>
        <ion-button color="danger" size="block" fill="outline">Ver factura</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>