<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>En verificación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <div style="text-align: center;">
      <img src="../../../assets/imgs/user.jpg" style="width: 50%;" alt="">
    </div>
    <ion-card-header>
      <ion-card-title>
        Ariadna Medina
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tipo de caso: Rapido hasta 7 movimientos
      Doctor: Doctor Prueba
      <br>
      <ion-button (click)="irDetalleCaso()">Ver caso</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>